:root {
    --black-color: #212121;
    --white-color: #ffffff;
    --activation-color: #2196F3;
}

body {
    font-family: 'Roboto', 'Raleway', opensans;
    color: var(--black-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.logo-web {
    color: var(--activation-color);
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;
}

.header-link:hover,
.header-link:focus {
    color: var(--activation-color);
}
.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--activation-color);
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--activation-color);
    cursor: pointer;
}

.feature-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-members {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.members-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;

}

/*------------------------------footer CSS----------------------------*/
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: var(--white-color);
}
.map-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    font-style: normal;
}

.map-link:hover,
.map-link:focus {
    color: var(--activation-color);
}

.contacts {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    font-style: normal;
}

.contacts:hover,
.contacts:focus  {
    color: var(--activation-color);
}

/*------------------------------портфоліо CSS----------------------------*/
.project-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
}

.project-button:hover,
.project-button:focus {
    color: var(--white-color);
    background-color: var(--activation-color); 
}

.portfolio-project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color); 
}

.portfolio-project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
